:root {
    background-color: #444;
}

body {
    margin: 0;
}

* {
    color: #ccc;
}

textarea {
    background-color: #666;
    border: 0;
    outline: 0 !important;
    resize: none;
    height: 1000px;
    aspect-ratio: 0 !important;
}