:root {
    background-color: #d0d0d0;
}

body {
    margin: 0;
}

textarea {
    /*background-color: #666;*/
    outline: 1px solid #ccc; !important;
    resize: none;
    height: 1000px;
    aspect-ratio: 0 !important;
}